/*
* calendar.css
* Calendar control styles
*/

.calendar-element {
  width       : 64px;
  height      : 32px;
  background  : #999;
  color       : orange;
  border-radius : 3px;
}

.floatingTable {
  float:left;
}
