
.grid_element {
    width: 200px;
    height: 100px;
    background: #999999;
    border-style: solid;
    margin: 5px;
}
.grid_element_selected {
    width: 200px;
    height: 100px;
    background: #999999;
    border-style: solid;
    border-color: #cccc33;
    margin: 5px;
}