
.grid_element {
    height: 75px;
    background: #bbbbbb;
    margin: 5px;
    float: left;
}
.grid_element_selected {
    border-style: solid;
    border-width: thick;
    border-color: #88bbcc;
}

.time_slot {
    height: 75px;
    background: #bbbbbb;
    margin: 5px;
    float: left;
    border-style: solid;
    border-color: #aa6600;
}